.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .wrap {
    flex-direction: column;
  }
}


.input {
  border-radius: 30px;
  height: 50px;
  width: 380px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  cursor: auto;
  outline: none;
}

@media screen and (max-width: 760px) {
  .input {
    margin-bottom: 20px;
    width: 350px;
  }
}

.inputActive {
  box-shadow: 0 0 0 2px #90e39a, 0 0 20px #90e39a;
  transition: all .5s ease-in-out;
}

.btnBlock {
  display: flex;
}

.btn {
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 100px;
  margin-left: 12px;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .btn {
    width: 150px;
    margin: 0;
  }
  .btn:first-child {
    margin-right: 15px;
  }
}


.btn img {
  height: 23px;
  margin-top: 2px;
}
