.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border-radius: 30px;
  height: 50px;
  width: 380px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  cursor: auto;
  outline: none;
}

.inputActive {
  box-shadow: 0 0 0 2px limeGreen, 0 0 20px limeGreen;
  transition: all .5s ease-in-out;
}

.btn {
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 100px;
  margin-left: 12px;
  cursor: pointer;
}

.btn img {
  height: 23px;
  margin-top: 2px;
}
