.hovWrap{
  position:relative;
  width: 50px;
  height: 25px;
  background: transparent;
  box-shadow: 0 0 0 2px #90e39a, 0 0 10px #90e39a;
  color: white;
  text-align: center;
  list-style:none;
  z-index:2;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
}

.hovWrap:hover li:nth-child(odd){
  transform-origin: top;
  transform: perspective(350px) rotateX(0deg);
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top:0;
}

.hovWrap:hover li:nth-child(even){
  transform: perspective(350px) rotateX(0deg);
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(0deg);
   margin-top:0;
}

.list{
  position: absolute;
  z-index:1;
}

.list li{
  list-style: none;
  background: white;
  color: black;
  width: 50px;
  height: 25px;
  padding: 0 5px;
  margin-bottom: 3px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  
}

.list li:nth-child(odd){
  transform-origin: top;
  transform: perspective(350px) rotateX(-90deg);
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.list li:nth-child(even){
   margin-top:-65px;
   transform-origin: bottom;
   transform: perspective(350px) rotateX(90deg);
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(90deg);
}

.list li:first-child{
  margin-top:0;
}
