.wrap {
  margin-top: 35px;
  display: grid;
  column-gap: 35px;
  row-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}


@media screen and (max-width: 760px) {
  .wrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}

.label {
  margin-right: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

.dropdownWrap {
  display: flex;
}
